body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}

h1{
    animation: titilar 3s infinite;
}

h2{
    min-height: 30px;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td {
    width: 50px;
    border: 5px solid black; 
    text-align: center; 
    font-size: 48px; 
    font-weight: bold; 
    cursor: pointer;
}

tr {
    height: 30%; 
}

.ganador{
    background-color: rgb(94, 224, 94);
    transition: background-color 0.5s ease;
}

@keyframes titilar {
    0% { color: red; }
    14.29% { color: orange; }
    28.57% { color: yellow; }
    42.86% { color: green; }
    57.14% { color: blue; }
    71.43% { color: indigo; }
    85.71% { color: violet; }
    100% { color: red; }
}
